@charset "UTF-8";

body{
	font-family: 'NanumSquare', sans-serif;
}

transparent
.dropdown-menu {
    -webkit-box-shadow: 0 0 15px 1px rgb(90 80 105 / 20%);
    box-shadow: 0 0 15px 1px rgb(90 80 105 / 20%);
    -webkit-user-select: text;
    margin-top: 10px;
}

.Progress_Bar {
	width: 100%;
	height: 100%;
	top: 50px;
	left: 150px;
	position: fixed;
	display: none;
	opacity: 0.5;
	background-color: #E6E6E6;
	z-index: 99;
	text-align: center;
}
.Progress_Bar_Image {
	position: absolute;
	top: 40%;
	left: 45%;
	z-index: 100; 
	width:100px; 
	height:100px;
}

.nav-function-top .page-content-wrapper {  			 	
	margin-top: 3.425rem;
}

.nav-function-top .page-header {    
    background-color: #1f0644;    
}

.breadcrumb {    
    padding: 0.5rem 0.5rem;
}

.input-group-text {
    background-color: #ffffff;
}

.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {    
    width: 150px;    
}

.dataTables_empty {    
    font-size: 1rem;    
}

.site-image{
	width: 3.425rem;
    height: 3.425rem;
	background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50% !important;
}

.site-border {
    border: 1px solid #1a4c7d !important;
}

.mod-skin-light:not(.mod-skin-dark):not(.mod-nav-dark) .page-logo, .mod-skin-light:not(.mod-skin-dark):not(.mod-nav-dark)  {
    background: #505050;
}

.mod-skin-light:not(.mod-skin-dark):not(.mod-nav-dark) .page-logo-text {
    color: #ffffff;
}

.dropdown-item:hover{
	background: #5882FA;
}

.nav-footer {
	background: #ffffff4a;
    height: 3.2125rem;
}

.nav-function-fixed .nav-footer {
   border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.search-lable {
    width: 130px;    
}

.search-lable-sm {
    width: 80px;    
}

.lable-md {
    width: 120px;    
}

.gauge-bottom-lable {
	margin-top: -30px;
}

.mod-skin-dark:not(.mod-skin-light) body, .mod-skin-dark:not(.mod-skin-light) .chart-font {
    color: #d6d9dc;
}

.list-group-item {  
    padding: 0.45rem 1.25rem;    
}
